<h2 class="mb-2 text-center">Tạo dòng thời gian</h2>
<div class="row m-1">
  <div class="group-tabs" class="col-md" style="height: 300px">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#json" aria-controls="json" role="tab" data-toggle="tab">JSON</a>
      </li>
      <li class="nav-item ml-auto">
        <button class="btn btn-success btn-load" (click)="createHtml()"><i class="fa fa-refresh"></i></button>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="json">
          <ngx-monaco-editor [(ngModel)]="json" style="height: 258px"
          [options]="jsonEditorOptions"></ngx-monaco-editor>
      </div>
    </div>
  </div>
  <div class="group-tabs" class="col-md" style="height: 300px">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#html" aria-controls="html" role="tab" data-toggle="tab">Html</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="html">
          <ngx-monaco-editor [(ngModel)]="html" style="height: 258px"
          [options]="htmlEditorOptions"></ngx-monaco-editor>
      </div>
    </div>
  </div>
</div>
