<div class="row m-1">
  <div class="col-12 mb-2">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">View height</span>
      </div>
      <input type="number" max="750" min="250" class="form-control form-control-sm" [(ngModel)]="editor_height">
      <div class="input-group-append">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="live_demo">
          <span class="ml-2">Live demo</span>
        </div>
      </div>
      <button class="btn btn-sm btn-outline-secondary ml-1" (click)="split_mode = !split_mode">
        <span *ngIf="!split_mode" class="fa fa-window-maximize"></span>
        <span *ngIf="split_mode" class="fa fa-columns"></span>
      </button>
    </div>
  </div>

  <div class="group-tabs" *ngIf="!split_mode" class="col-md-12" [ngStyle]="{'height.px': checkHeight()}">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#html" aria-controls="html" role="tab" data-toggle="tab">Html</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#css" aria-controls="css" role="tab" data-toggle="tab">Css</a>
      </li>
      <li *ngIf="!live_demo" class="nav-item ml-auto">
        <button class="btn btn-success btn-load" (click)="refreshView(true)"><i class="fa fa-refresh"></i></button>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="html">
        <ngx-monaco-editor [(ngModel)]="html" [ngStyle]="{'height.px': checkHeight() - 42}"
        [options]="htmlEditorOptions" (ngModelChange)="refreshView(live_demo)"></ngx-monaco-editor>
      </div>
      <div role="tabpanel" class="tab-pane" id="css">
        <ngx-monaco-editor [(ngModel)]="css" [ngStyle]="{'height.px': checkHeight() - 42}"
        [options]="cssEditorOptions" (ngModelChange)="refreshView(live_demo)"></ngx-monaco-editor>
      </div>
    </div>
  </div>

  <div class="group-tabs" *ngIf="split_mode" class="col-md" [ngStyle]="{'height.px': checkHeight()}">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#html" aria-controls="html" role="tab" data-toggle="tab">Html</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#css" aria-controls="css" role="tab" data-toggle="tab">Css</a>
      </li>
      <li *ngIf="!live_demo" class="nav-item ml-auto">
        <button class="btn btn-success btn-load" (click)="refreshView(true)"><i class="fa fa-refresh"></i></button>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="html">
          <ngx-monaco-editor [(ngModel)]="html" [ngStyle]="{'height.px': checkHeight() - 42}"
          [options]="htmlEditorOptions" (ngModelChange)="refreshView(live_demo)"></ngx-monaco-editor>
      </div>
      <div role="tabpanel" class="tab-pane" id="css">
          <ngx-monaco-editor [(ngModel)]="css" [ngStyle]="{'height.px': checkHeight() - 42}"
          [options]="cssEditorOptions" (ngModelChange)="refreshView(live_demo)"></ngx-monaco-editor>
      </div>
    </div>
  </div>

  <div class="col-md">
    <iframe id="html-frame" [ngStyle]="{'height.px': checkHeight()}" style="width: 100%"></iframe>
  </div>
</div>
