<div class="row m-1">
  <div class="col-12 mb-2">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">View height</span>
      </div>
      <input type="number" max="750" min="250" class="form-control form-control-sm" [(ngModel)]="editor_height">
      <button class="btn btn-sm btn-outline-secondary ml-1" (click)="split_mode = !split_mode">
        <span *ngIf="!split_mode" class="fa fa-window-maximize"></span>
        <span *ngIf="split_mode" class="fa fa-columns"></span>
      </button>
    </div>
  </div>

  <div class="group-tabs" *ngIf="!split_mode" class="col-md-12" [ngStyle]="{'height.px': checkHeight()}">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#html" aria-controls="html" role="tab" data-toggle="tab">Html</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#css" aria-controls="css" role="tab" data-toggle="tab">Css</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="html">
        <ngx-monaco-editor [options]="htmlEditorOptions" [(ngModel)]="html" [ngStyle]="{'height.px': checkHeight() - 42}"></ngx-monaco-editor>
      </div>
      <div role="tabpanel" class="tab-pane" id="css">
        <ngx-monaco-editor [options]="cssEditorOptions" [(ngModel)]="css" [ngStyle]="{'height.px': checkHeight() - 42}"></ngx-monaco-editor>
      </div>
    </div>
  </div>

  <div class="group-tabs" *ngIf="split_mode" class="col-md" [ngStyle]="{'height.px': checkHeight()}">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#html" aria-controls="html" role="tab" data-toggle="tab">Html</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#css" aria-controls="css" role="tab" data-toggle="tab">Css</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="html">
        <ngx-monaco-editor [options]="htmlEditorOptions" [(ngModel)]="html" [ngStyle]="{'height.px': checkHeight() - 42}"></ngx-monaco-editor>
      </div>
      <div role="tabpanel" class="tab-pane" id="css">
        <ngx-monaco-editor [options]="cssEditorOptions" [(ngModel)]="css" [ngStyle]="{'height.px': checkHeight() - 42}"></ngx-monaco-editor>
      </div>
    </div>
  </div>

  <div class="col-md">
    <div class="html-view overflow-auto" [ngStyle]="{'height.px': checkHeight()}" [innerHtml]="sanitizer.bypassSecurityTrustHtml(html)"></div>
    <div [innerHtml]="getCss()"></div>
  </div>
</div>
