<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Image to Text</h2>
      <div *ngIf="openCVLoadResult | async as result">
        <div class="error" *ngIf="result.loading">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="d-flex justify-content-center">Loading OpenCV...</div>
          </div>
        </div>
        <div *ngIf="result.ready">
          <div class="text-success">OpenCV.js is ready!</div>
          <div class="input-group input-group my-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Image</span>
            </div>
            <input (change)="loadImage($event)" #fileInput type="file" id="fileInput"
              class="form-control form-control" name="file" accept="image/*"/>
            <span class="input-group-text" id="basic-addon1">Text</span>
            <input type="text" class="form-control form-control" [(ngModel)]="text"/>
            <span class="input-group-text" id="basic-addon1">Size</span>
            <input type="number" class="form-control form-control" [(ngModel)]="size" (change)="resize()"/>
            <div class="input-group-append">
              <button class="btn btn btn-success" [disabled]="!file" (click)="createText()">To Text</button>
              <button *ngIf="color_matrix && color_matrix.length > 0" class="btn btn-primary" (click)="export()">Export</button>
            </div>
          </div>
          <div class="d-flex justify-content-center overflow-auto">
            <canvas #canvasOutput></canvas>
          </div>
        </div>
        <div class="text-error" *ngIf="result.error">OpenCV.js load error!</div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid overflow-auto my-2" id="result">
  <div class="d-flex justify-content-center" *ngIf="color_matrix && color_matrix.length > 0">
    <div>
      <div *ngFor="let row of color_matrix">
        <span *ngFor="let column of row" [style.color]="column">{{text}}</span>
      </div>
    </div>
  </div>
</div>
<a id="download" download="Download.html" type="text/html" style="display: none">Download</a>
