<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row mb-2">
        <div class="col-md-4 d-flex align-items-center">
          <div class="small">Từ ngày: </div>
          <input type="text"
            placeholder="Chọn ngày"
            class="form-control form-control-sm ml-1 mr-2"
            bsDatepicker
            [(ngModel)]="from_time"
            [bsConfig]="bsConfig">
          <a (click)="clearFromTime()" href="javascript:void(0)" class="text-danger"><i class="fa fa-close"></i></a>
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <div class="small">Đến ngày: </div>
          <input type="text"
            placeholder="Chọn ngày"
            class="form-control form-control-sm ml-1 mr-2"
            bsDatepicker
            [(ngModel)]="to_time"
            [bsConfig]="bsConfig">
            <a (click)="clearToTime()" href="javascript:void(0)" class="text-danger"><i class="fa fa-close"></i></a>
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <div class="small">Loại: </div>
          <select class="form-control form-control-sm ml-1" [(ngModel)]="tag_filter">
            <option value="">Tất cả</option>
            <option *ngFor="let t of tags" value="{{t}}">{{t}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 d-flex align-items-center">
          <div class="small">Giá từ: </div>
          <input type="number" placeholder="Giá thấp nhất" min="0"
            class="form-control form-control-sm ml-1" [(ngModel)]="min_cost">
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <div class="small">Đến: </div>
          <input type="number" placeholder="Giá cao nhất" min="0"
            class="form-control form-control-sm ml-1" [(ngModel)]="max_cost">
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <div class="small">Từ khóa: </div>
          <input type="text"
            placeholder="Từ khóa"
            class="form-control form-control-sm ml-1"
            [(ngModel)]="keyword">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary btn-sm w-100 mb-3 mt-1" (click)="filter()"><i class="fa fa-filter"></i> Lọc</button>
      <button class="btn btn-success btn-sm w-100" (click)="openModal(template)"><i class="fa fa-plus"></i> Thêm chi tiêu</button>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <div class="mb-2"><h3 class="font-weight-bold">Tổng chi tiêu: {{total_cost.toLocaleString('en')}} đồng</h3></div>
      <div class="table-responsive" *ngIf="bills && bills.length > 0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Ngày</th>
              <th>Loại</th>
              <th>Số tiền (đồng)</th>
              <th>Chi tiết</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bill of bills; let i = index">
              <td>{{i+1}}</td>
              <td>{{bill.time}}</td>
              <td>{{bill.tag}}</td>
              <td>{{bill.cost.toLocaleString('en')}}</td>
              <td title="{{bill.details}}">
                <span class="bill-details">{{bill.details}}</span>
              </td>
              <td>
                <button class="btn btn-sm btn-link" (click)="confirmDeleteBill(bill._id)" title="Xóa chi tiêu">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!bills || bills.length == 0" class="text-center">Chưa có chi tiêu nào trong thời gian này!</div>
    </div>
  </div>
</div>

<!-- Modal create bill -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Thêm chi tiêu</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="form">
        <div class="form-group">
          <label for="email">Loại chi tiêu<span class="text-danger">*</span>:</label>
          <select class="form-control" [(ngModel)]="tag" placeholder="Chọn loại chi tiêu" (change)="initSuggestion()">
            <option *ngFor="let t of tags" value="{{t}}">{{t}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="details">Chi tiết:</label>
          <input type="text" list="suggest_details" class="form-control" placeholder="Nhập chi tiết" name="details" [(ngModel)]="details">
          <datalist id="suggest_details">
            <option *ngFor="let detail of suggest_details" value="{{detail}}">
          </datalist>
        </div>
        <div class="form-group">
          <label for="cost">Số tiền<span class="text-danger">*</span>:</label>
          <input type="number" min="0" list="suggest_cost" class="form-control" placeholder="Nhập số tiền" name="cost" [(ngModel)]="cost">
          <datalist id="suggest_cost">
            <option *ngFor="let c of suggest_cost" value="{{c}}">
          </datalist>
        </div>
        <div class="form-group">
          <label for="date">Ngày<span class="text-danger">*</span>:</label>
          <input type="text"
            placeholder="Chọn ngày"
            class="form-control"
            bsDatepicker
            [bsConfig]="bsConfig"
            placement="top"
            [(ngModel)]="date">
        </div>
        <span *ngIf="message" class="text-danger" [innerText]="message"></span>
        <div class="d-flex justify-content-around mt-2">
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Hủy</button>
          <button type="submit" class="btn btn-primary" [class.disabled]="processing" (click)="createBill()">Tạo</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
